td, th {
  vertical-align: middle;
  text-align: center;
  background-color: white;
  color: black;
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type > div {
  width: 250px;
  height: 200px;
}